.banner-image {
  background-image: asset_url('wraith-concept-bg-small');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 22.5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 4px solid branding-color('gray');
}
