.search-bar {
  display: flex;
  background: branding-color('darkgray', 100);

  @include breakpoint(medium up) {
    background: none;
    justify-content: space-between;
    align-items: center;
    margin: 0 4rem;
  }
}

.search-bar__input {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  color: branding-color('lightgray', 100);
  margin-left: auto;

  @include breakpoint(medium up) {
    margin: 0 2rem;
    width: 100%;
    background: rgba(255, 255, 255, .2);
  }
}

.search-bar__title-bar {
  background: brandin-color('darkgray', 100);
  width: 100%;
  display: flex;
  padding: 0.5rem;
}
