.flex,
.d-f {
  display: flex;

  &--large-up {
    @include breakpoint(large up) {
      display: flex;
    }
  }

  &--xlarge-up {
    @include breakpoint(xlarge up) {
      display: flex;
    }
  }

  &--medium-down {
    @include breakpoint(medium down) {
      display: flex;
    }
  }

  &--large-down {
    @include breakpoint(large down) {
      display: flex;
    }
  }


  &--small-only {
    @include breakpoint(small only) {
      display: flex;
    }
  }
}

.d-if {
  display: inline-flex;
}

// flex-direction
.fd-c {
  flex-direction: column;
}

.fd-cr {
  flex-direction: column-reverse;
}

.fd-r {
  flex-direction: row;
}

.fd-rr {
  flex-direction: row-reverse;
}

// flex-wrap
.fw-w {
  flex-wrap: wrap;
}

.fw-nw {
  flex-wrap: nowrap;
}

// justify-content
.jc-c {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.jc-fs {
  justify-content: flex-start;
}

.jc-fe {
  justify-content: flex-end;
}

// align-items
.ai-c {
  align-items: center;
}

.ai-fs {
  align-items: flex-start;
}

.ai-fe {
  align-items: flex-end;
}

.ai-s {
  align-items: stretch;
}

.ai-b {
  align-items: baseline;
}

.as-fe {
  align-self: flex-end;
}

.as-c {
  align-self: center;
}

// units
@for $unit from 1 to 24 {
  .f-#{$unit} {
    flex: $unit;
  }

  .fg-#{$unit} {
    flex-grow: $unit;
  }
}
