$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 800;

.fw-light { font-weight: $fw-light; }
.fw-regular { font-weight: $fw-regular; }
.fw-semibold { font-weight: $fw-semibold; }
.fw-bold { font-weight: $fw-bold; }
