$branding-hues: ('rorange', 'midnight', 'purple', 'teal', 'yellow', 'blue', 'offwhite');
$named-color-hues: ('black', 'white');

@function branding-color($hue, $value: 100) {
  @if ($value > 100 or $value < 0) {
    @error "Expected value between 0 and 100";
  }

  @if (not index($branding-hues, $hue)) {
    @error "Expected #{$hue} to be one of #{$branding-hues}";
  }

  @return mix(map-get($branding-colors, $hue), #fff, $value);
}

@function named-color($hue, $value: 100) {
  @if ($value > 100 or $value < 0) {
    @error "Expected value between 0 and 100";
  }

  @if (not index($branding-hues, $hue) and not index($named-color-hues, $hue)) {
    @error "Expected #{$hue} to be one of #{$branding-hues} or #{index($named-color-hues)}";
  }

  @if (index($named-color-hues, $hue)) {
    @return mix(map-get($named-colors, $hue), #fff, $value);
  } @else {
    @return mix(map-get($branding-colors, $hue), #fff, $value);
  }
}

$branding-colors: (
        'rorange': #ff492c,
        'midnight': #252530,
        'purple': rgb(90, 57, 162),
        'teal': rgb(35, 204, 162),
        'yellow': rgb(255, 210, 0),
        'blue': #2690ce,
        'offwhite': #dcdedc
);

$named-colors: (
        'black': #000,
        'white': #fff
);

$standard-atomic-mix-values: (10, 20, 30, 40, 50, 60, 70, 80, 90, 100);
$branding-color-atomics: (
        'rorange': $standard-atomic-mix-values,
        'midnight': $standard-atomic-mix-values,
        'purple': $standard-atomic-mix-values,
        'teal': $standard-atomic-mix-values,
        'yellow': $standard-atomic-mix-values,
        'blue': $standard-atomic-mix-values,
        'offwhite': (13, 22, 36, 60, 100)
);

$named-color-atomics: (
        'black': $standard-atomic-mix-values,
        'white': $standard-atomic-mix-values
);
